<div class="well well-lg media">
  <div class="media-left">
    <span class="glyphicon glyphicon-user"></span>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.first_name %> <%= comment.user.last_name %> wrote:</h4>
    <%= comment.body %>
  </div>
	<p>
		<% if comment.user == current_user || current_user.try(:admin?) %>
	  	<%= link_to 'Delete Comment', [comment.recipe, comment], class: "btn btn-danger btn-xs delete-btn-margin", method: :delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	</p>
</div>

