<div class="well well-lg media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.recipe.user.first_name %> <%= comment.recipe.user.last_name %> wrote:</h4>
    <%= comment.body %>
  </div>
	<p>
		<% if comment.recipe.user == current_user || current_user.admin %>
	  	<%= link_to 'Delete Comment', [comment.recipe, comment], class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	</p>
</div>

