<h1>Edit Recipe</h1>

<%= render 'form' %>
 
<p>
  <% if current_user == @recipe.user %>
  	<%= link_to 'Delete Recipe', recipe_path(@recipe), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</p>

 