<h1>All Recipes</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
  </tr>
 
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.description %></td>
    </tr>
  <% end %>
</table>