@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";
body { padding-top: 60px; } #new-header-center {text-align: center !important; margin-bottom: 20px; } legend {text-align: center;}.bs-component {max-width: 960px !important; margin: 0 auto !important;} #recipe_image {margin-top: 13px;} #recipe_meal_type {margin-top: 14px;} .primary-btn-margin { margin-top: 20px; }
@import "bootswatch/sandstone/bootswatch";
