<p>Hello, <%= @resource.email %>!</p>

<p>We received a request to change your password. Click the link below to change your email.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you do not want to change your password, please ignore this email.</p>

<p>Your password won't change until you click the link above and create a new password.</p>

<p>Sincerely,</p>
<p>The ToTaste Team</p>